<h1>Editing Admin Group Permission</h1>

<%= render 'form', admin_group_permission: @admin_group_permission %>

<%= link_to 'Show', @admin_group_permission %> |
<%= link_to 'Back', admin_group_permissions_path %>
