<h1>Editing Admin Room Statistic</h1>

<%= render 'form', admin_room_statistic: @admin_room_statistic %>

<%= link_to 'Show', @admin_room_statistic %> |
<%= link_to 'Back', admin_room_statistics_path %>
