<h1>Editing Admin Electricity Water</h1>

<%= render 'form', admin_electricity_water: @admin_electricity_water %>

<%= link_to 'Show', @admin_electricity_water %> |
<%= link_to 'Back', admin_electricity_waters_path %>
