<div class="table-scrollable">
  <table class="table table-striped table-bordered table-hover items-table aside-table ">
    <thead>
    <tr>
      <th class="text-center">
        <a class="btn btn-circle btn-icon-only btn-default add-all-selection"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </th>
      <th>Tên khách thuê</th>
      <th class="text-center">CMND</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="renter-left-container">
    <%= render 'renter_list' %>
    </tbody>
  </table>
</div>