<div class="table-scrollable">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t(:config_category_code) %></th>
        <th><%= t(:config_category_name) %></th>
        <th><%= t(:config_category_description) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render('config_category') %>
    </tbody>
  </table>
</div>