<%= render('search') %>
<div class="table-scrollable">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Khu</th>
      <th>Từ tháng</th>
      <th>Đến tháng</th>
      <th>Tổng thu</th>
      <th>Tổng chi</th>
      <th>Tình trạng</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody class="item-container">
    <%= render('report') %>
    </tbody>
  </table>
</div>
