<h1>Editing Admin Agreement Renter</h1>

<%= render 'form', admin_agreement_renter: @admin_agreement_renter %>

<%= link_to 'Show', @admin_agreement_renter %> |
<%= link_to 'Back', admin_agreement_renters_path %>
